<form action="/rnode/<%= host %>/<%= port %>/vnc.html">
  <input type="hidden" name="autoconnect" value="true">
  <input type="hidden" name="password" value="<%= password %>">
  <input type="hidden" name="port" value="<%= port %>">
  <input type="hidden" name="host" value="ood.arc.vt.edu/rnode/<%= host %>/<%= port %> ">
  <button class="btn btn-primary" type="submit">
    <i class="fa faeye"></i> "Connect to VNC - /home"
  </button>
</form>
